{% extends 'base.html' %}
{% block header %}
    <div class="hero-wrap js-fullheight"
         style="background-image: url('{{ url_for('static',filename='images/bg_2.jpg') }}');"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start"
                 data-scrollax-parent="true">
                <div class="col-md-8 ftco-animate text-center text-md-left mb-5"
                     data-scrollax=" properties: { translateY: '70%' }">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                            class="mr-3"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span>
                        <span>{{ t }}</span></p>
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                        {{ st }}
                    </h1>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block body %}

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2 class="mb-4"><span>All </span> Your Search Results</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    {% if not cats.service %}
                        <h3 class="font-weight-bold text-center text-danger">Sorry You no service added for this
                            category</h3>
                    {% else %}

                        {% for service in cats.service %}
                            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
                                <div class="mb-4 mb-md-0 mr-5">
                                    <div class="job-post-item-header d-flex align-items-center">
                                        <h2 class="mr-3 text-black h3">{{ service.title }}</h2>
                                        <div class="badge-wrap">
                                            <span class="bg-primary text-white badge py-2 px-3">{{ service.user[0].first_name }} {{ service.user[0].last_name }}</span>
                                        </div>
                                    </div>
                                    <div class="job-post-item-body d-block d-md-flex">
                                        <div class="mr-3"><span
                                                class="icon-layers"></span> {{ service.category }}</div>
                                        <div><span class="icon-my_location"></span>
                                            <span>{{ service.location }}</span>
                                        </div>
                                        <div><span class="icon-money ml-2"></span> <span
                                                class="font-weight-bold">Price (GHS {{ service.charge }})</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="text-muted mt-2">Email Address Of Service
                                                Provider <br><b>{{ service.user[0].email }}</b></p>
                                            <p class="text-muted">Contact Of Service
                                                Provider <br><b>{{ service.contact }}</b></p>
                                            <p class="text-muted">Description Of Service
                                                <br><b>{{ service.description }}</b></p>
                                            <p class="text-muted">Service Charge
                                                <br><b>GHS {{ service.charge }}</b></p>

                                        </div>
                                        <div class="col-md-6">
                                            <img class="img-fluid img-thumbnail"
                                                 src="{{ url_for('static',filename='images/bg_1.jpg') }}"
                                                 alt="">
                                        </div>


                                    </div>
                                </div>

                            </div>
                        {% endfor %}

                    {% endif %}


                </div><!-- end -->

            </div>
        </div>
    </section>
    <script type="text/javascript">
        function ask(pk) {
            let result = confirm('Are you sure you want to delete this service');
            if (result) {
                window.location.href = `{{ request.url }}/delete/${pk}`
            }

        }
    </script>
{% endblock %}